In [14]:
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
import sys
import os
import numpy as np
sys.path.append('../src/')

from simulate import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
sim_info_df, edges_df, cnA_df, cnB_df, snv_df = simulate_evolution(sim_name='sim1',
                                                                n_nodes=3, 
                                                                n_positions=6, 
                                                                max_positions=20, 
                                                                prop_truncal_snvs=0.2, 
                                                                prop_pos_gained=0.3, 
                                                                prop_pos_lost=0.7, 
                                                                prop_gained_truncal=0.2, 
                                                                prop_lost_truncal=0.2, 
                                                                clonal_wgd=True, 
                                                                subclonal_wgd=False, 
                                                                n_subclonal_wgd=1, 
                                                                minimum_branch_length=1, 
                                                                constant_multiplicity=True, 
                                                                prop_mutloss_positions=0.1, 
                                                                gain_events=None, 
                                                                loss_events=None, 
                                                                mutloss_truncal=False, 
                                                                output_directory=None,
                                                                save_output=False,
                                                                display_output=True)

## Output dataframes from tool

In [16]:
sim_info_df

                 parameter  value
0                 sim_name   sim1
1                  n_nodes      3
2              n_positions      6
3            max_positions     20
4        prop_truncal_snvs    0.2
5          prop_pos_gained    0.3
6            prop_pos_lost    0.7
7      prop_gained_truncal    0.2
8        prop_lost_truncal    0.2
9               clonal_wgd   True
10           subclonal_wgd  False
11         n_subclonal_wgd      1
12   minimum_branch_length      1
13   constant_multiplicity   True
14  prop_mutloss_positions    0.1
15             gain_events   None
16             loss_events   None
17         mutloss_truncal  False
18                warnings    NaN

In [5]:
edges_df

   Parent  Child  CNA_gains  CNA_losses  SNVs  WGD Truncal
0       5      3          0           2     1    0      No
1       4      5          1           1     3    0      No
2       6      4          0           1     2    1     Yes

In [6]:
cnA_df

var_pos  0  1  2  3  4  5
node
3        2  1  3  4  2  2
4        2  2  2  4  2  2
5        2  2  3  4  2  2
6        1  1  1  1  1  1

In [7]:
cnB_df

var_pos  0  1  2  3  4  5
node
3        1  3  2  0  2  1
4        2  2  2  0  2  2
5        2  2  2  0  2  1
6        1  1  1  1  1  1

In [8]:
snv_df

var_pos  0  1  2  3  4  5
node
3        1  0  2  2  1  1
4        0  0  0  2  1  0
5        0  1  2  2  1  1
6        0  0  0  0  0  0